<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Activity Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2C322CE1BD2D2AA006753F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2C322EA1BD2D2AA006753F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2C322F51BD2D2AA006753F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
